/*body {
    font-family: 'PT Sans', 'Montserrat', Arial, sans-serif;
}*/

@font-face {
    font-family: Pelagiad;
    src: url(../img/Pelagiad.ttf);
}

h1 {
    margin: 0 3%;
    font-weight: 600;
    color: rgb(21, 48, 109);
    font-size: 3em;
    font-family: 'Pelagiad', 'PT Sans', 'Montserrat', Arial, sans-serif;
}

main.container {
    margin: 0 3%;

}

div.mu-type {
    margin: 16px 0;
}

div.mu-option1,
div.mu-option2,
div.mu-swap {
    float: left;
}

select {
    display: block;
    margin-bottom: 12px;
    font-size: 22px;
    font-family: 'Pelagiad', 'PT Sans', 'Montserrat', Arial, sans-serif;
    height: 28px;
    padding: 0 2px;
}

div.mu-type,
div.mu-option1,
div.mu-option2 {
    width: 168px;
}

.select--mu-group,
.select--mu-source,
.select--mu-target {
    width: 100%;
}

/*ширина на 8рх меньше контейнера из-за границ*/
.text-value-input,
.text-value-output {
    display: block;
    height: 2em;
    width: 160px;
    font-size: 22px;
    font-family: 'Pelagiad', 'PT Sans', 'Montserrat', Arial, sans-serif;
    line-height: 2em;
}

button.btn-swap {
    display: block;
    margin: 3px 8px 3px;
    width: 22px;
    height: 22px;
    padding: 0px 2px 2px 2px;
}

button.btn-swap img {
    width: 100%;
    position: center;
    vertical-align: middle;
}