body {
    font-family: 'PT Sans', 'Montserrat', Arial, sans-serif;
}

h1 {
    margin: 0 3%;
    font-weight: 600;
    color: rgb(21, 48, 109);
    font-size: 2em;
}

main.container {
    margin: 0 5%;

}

div.mu-type {
    margin: 16px 0;
}

div.mu-option1,
div.mu-option2,
div.mu-swap {
    float: left;
}

select {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    font-family: 'PT Sans', 'Montserrat', Arial, sans-serif;
}

div.mu-type,
div.mu-option1,
div.mu-option2 {
    width: 128px;
}

.select--mu-group,
.select--mu-source,
.select--mu-target {
    width: 100%;
}

/*ширина на 8рх меньше контейнера из-за границ*/
.text-value-input,
.text-value-output {
    display: block;
    height: 2em;
    width: 120px;
    line-height: 2em;
}

button.btn-swap {
    display: block;
    margin: 0px 8px;
    width: 30px;
    height: 30px;
}

button.btn-swap img {
    width: 100%;
    position: center;
    vertical-align: middle;
}